<h1>My Clients</h1>

<div class="client-cards">
  <div class="row">
    <% @clients.each do |client| %>
      <div class="client-col col-8 offset-2 offset-sm-0 col-sm-4 col-md-3" data-name='<%= "#{client.full_name}" %>'>
        <%= link_to client_path(client), class: "client-card" do %>
          <%= cl_image_tag client.photo, class: "avatar" %>
          <div class="client-name">
            <%= "#{client.full_name}" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :bottom do %>
  <div id="client-search">
    <input type="text" placeholder="Search">
  </div>

  <script>
    function filterResults(event) {
      let query = event.target.value

      let clients = document.querySelectorAll(".client-col")

      clients.forEach(function (client) {
        if (client.dataset.name.toLowerCase().includes(query.toLowerCase())) {
          client.style.display = "block"
        } else {
          client.style.display = "none"
        }
      })
    }

    let $clientSearch = document.querySelector('#client-search input')
    $clientSearch.addEventListener('input', filterResults)
  </script>
<% end %>

